.page_dish_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  row-gap: 3%;
  animation: open 0.7s forwards;
}

.dish_photo {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.dish_body {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  background-color: var(--tg-theme-secondary-bg-color);
}

.image_placeholder {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  background: linear-gradient(
    -45deg,
    var(--tg-theme-secondary-bg-color) 0%,
    rgba(255, 255, 255, 0.9) 50%,
    var(--tg-theme-secondary-bg-color) 100%
  );
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.dish_control {
}
