.page_dish_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  animation: open 0.7s forwards;
}

.dish_photo {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.dish_body {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  background-color: var(--tg-theme-secondary-bg-color);
}

.dish_control {
}
