.page_dish_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
  animation: open 0.7s forwards;
}

.dish_photo {
  width: 100%;
  // border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: fill;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  margin-bottom: 25px;
}

.dish_body {
  width: 100%;
  border-radius: 10px;
  height: max-content;
  background-color: var(--tg-theme-secondary-bg-color);
  padding: 10px;
  overflow: hidden;
  font: 16px sans-serif;
  color: var(--tg-theme-text-color);
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  & h1 {
    font-size: 28px;
    margin: 0;
  }
  & p {
    margin: 0;
  }
  &_components {
    color: var(--tg-theme-subtitle-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto 0px;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    & > div:not(:last-child) {
      border-right: solid var(--tg-theme-bg-color) 1px;
    }

    & > div > h3 {
      margin: 0;
      padding: 0;
      font-size: 12px;
      font-weight: 100;
    }

    & > div > p {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &_avatars {
    // direction: rtl; /* Это для того, чтобы получить стек с левым верхом */
    text-align: left;
    display: flex;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: none;
    & img {
      min-height: 50px;
      min-width: 50px;
      max-height: 50px;
      max-width: 50px;
      border-radius: 50%;
      border-radius: 50%;
      position: relative;
      left: -5px;
      z-index: 1;
      border: solid 5px var(--tg-theme-secondary-bg-color);
    }

    & img:not(:first-child) {
      margin-left: -15px;
    }
  }
  &_control {
    display: flex;
    box-sizing: border-box;
    color: var(--tg-theme-button-text-color);
    // fill: var(--tg-theme-button-text-color);
    flex-direction: row;
    justify-content: space-between;

    height: 50px;
    border-radius: 50px;
    background-color: var(--tg-theme-button-color);
    align-items: center;
    // padding: 2px;
    max-width: 50%;
    min-width: 33%;
    overflow: hidden;
    & button {
      cursor: pointer;
      border: unset;
      background: unset;
      color: var(--tg-theme-button-text-color);
      font-size: 30px;
      width: 50px;
      box-sizing: border-box;
      max-width: 50px;
      min-width: 50px;
      min-height: 50px;
      max-height: 50px;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;
      &:active {
        outline: unset;
        border: unset;
        background: unset;
        border-radius: 50%;
        min-height: 50px;
        max-height: 50px;
      }
      &:focus-visible {
        outline: unset;
        border: unset;
        border-radius: 50%;
        min-height: 50px;
        max-height: 50px;
      }
      &:focus {
        outline: unset;
        border: unset;
        border-radius: 50%;
        min-height: 50px;
        max-height: 50px;
      }
    }
  }
  &_price_control {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .price {
      display: flex;
      flex-direction: column;
      // text-align: left;

      & h1 {
        size: 20px;
        color: var(--tg-theme-text-color);
        font-family: Rooftop, Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
          Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
      }
      & p {
        size: 12px;
        color: var(--tg-theme-subtitle-text-color);
      }
    }
  }
}

.photo_with_loader_wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  & .loader {
    top: unset;
    left: unset;
  }
}
